.detail-introduce{
  margin-bottom: 200px;
}

.detail-introduce .detail-introduce-title{
  width: 100%;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail-introduce .detail-introduce-title h3{
  margin-bottom: 39px;
}

.detail-introduce .detail-introduce-title h6{
  font-family: 'Chosunilbo_myungjo';
  line-height: 150%;
}

.detail-introduce .detail-introduce-img-100{
  width: 100%;
  height: 1030px;
}

.detail-introduce .detail-introduce-img-100, .detail-introduce-img-part img{
  height: 100%;
}

.detail-introduce .detail-introduce-img-part{
  width: 100%;
  height: 812px;
  display: flex;
}