.experience-item{
  margin-top: 215px;
  margin-bottom: 288px;
  position: static;
  width: 100%;
}

.experience-item >*{
  font-family: 'Pretendard-Regular';
}

.experience-item .experience-item-name{
  font-size: 30px;
  font-weight: bold;
  margin-top: 49px;
}

.experience-item .flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-item .flex-row >*{
  font-size: 20px;
}

.experience-item hr{
  margin: 30px auto;
}

.experience-item button.info{
  width: 215px;
  height: 54px;
  font-size: 20px;
  margin-top: 30px;
  padding: 15px 45px;
}

/* .experience-slide{
  width: 1520px;
  margin: 0 auto;
} */

/* .experience-slide .swiper{
  width: 1540px;
} */

/* .experience-slide .swiper .swiper-wrapper{
  width: 1520px;
} */

.experience-slide{
  position: relative;
  width: 1520px;
  margin: 0 auto;
}

.experience-slide .experience-item .swiper-wrapper{
  width: 1520px;
}