.item-category{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.item-category .category-list{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-category .category-list .category-list-background{
width: 100%;
height: 100%;
background: var(--text-gray-70);
opacity: .6;
position: absolute;
z-index: 1;
}

/* .item-category .category-list img{
  position: absolute;
} */

.item-category .category-list h3{
  color: var(--text-gray-10);
  position: absolute;
  z-index: 1;
}