@import "../styles/style";

.main-banner {
  width: 100%;
  height: 850px;
  display: flex;
  background-image: url('/public/assets/wind.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main-banner .main-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  position: absolute;
  align-items: center;
  text-align: center;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.main-banner .main-banner-text .sub-banner-title {
  font-size: 25px;
  color: var(--main-brown-10);
  margin-bottom: 6px;
}

.main-banner .main-banner-text h1{
  margin: 123px auto;
}

.main-banner .main-banner-text .sub-banner-desc {
  font-family: "Chosunilbo_myungjo";
  font-size: 20px;
  color: var(--text-gray-10);
}

.main-banner .main-banner-text .sub-banner-address {
  font-family: "Chosunilbo_myungjo";
  font-size: 23px;
  margin-top: 6px;
}

.main-banner .main-banner-text h5{
  color: var(--text-gray-10);
}