.master-introduce{
  margin-top: 175px;
}
.master-introduce-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.master-introduce-card .master-introduce-card-background {
  background: var(--text-gray-70);
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.master-introduce-card .master-introduce-text {
  position: absolute;
  z-index: 1;
  text-align: center;
}

.master-introduce-text > * {
  color: var(--text-gray-10);
  font-family: 'Pretendard-Regular';
}


.master-introduce-text > hr {
  background: var(--text-gray-20);
  height: 2px;
  border: 0;
  margin: 20px auto;
}
